.background{
  width: 100%;
  text-align: center;
  background-image: url(background.jpg);
}
.heading{
  display: inline-block;
  margin: 0 auto;
  padding: 2px;
  background-color:white;
  width: 80%;
  text-align: center;
}
.history{
  margin: auto;
  background-color: white;
  width: 80%;
  padding: 2px;
}
#hist{
  color: #fffff
}