.background{
  width: 100%;
  text-align: center;
  background-image: url(background.jpg);
}
.heading{
  display: inline-block;
  margin: 8px auto;
  padding: 2px;
  background-color:white;
  width: 80%;
  text-align: center;
}
img.heading{
  padding: 1px;
}
.history{
  margin: 8px auto;
  background-color: white;
  width: 80%;
  padding: 6px;
  text-align: center;
}
h2.history{
  align-items: center;
}
#hist{
  color: black;
  font-family: 'Courier',sans-serif;
}